@keyframes myAnimation{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;

  }
  100%{
    display: none;
    opacity: 0;
  }
}
.App{
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.delete{
  animation-name: myAnimation;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
.answer{
  background-color: cadetblue;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin: 1px;
  text-align: center;
  width: 200px;
}
.skipQuestion{
  background-color: red;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin: 1px;
  margin-top: 10px;
  text-align: center;
  width: 200px;
}
.skipQuestion:hover{
  border-color:white;
  cursor: pointer;
}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}
.answer:hover{
  background-color: aqua;
  cursor: pointer;
}

.singleQuestion{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  margin: 5px;
  padding: 5px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.singleQuestion h2{
  text-align: center;
}
.questions{
  display:flex;
  flex-wrap: wrap;
}
